WCFEmployeeMVC/Connected Services/EmployeeServiceReference/EmployeeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CEmployee" nillable="true" type="tns:CEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCEmployee" nillable="true" type="tns:ArrayOfCEmployee" />
  <xs:complexType name="CEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CEmployee" nillable="true" type="tns:CEmployee" />
</xs:schema>